{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
</style>

    {% if error %}
        <div id="invalid_credentials" class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form, {'action': path('login_check'), 'method': 'POST'}) }}
    {#{{ form_widget(form) }}#}



    <div class="form-group">
        {{ form_label(form._username, null, {
            'label': 'Email:'
        }) }}
        {{ form_widget(form._username, {'attr': {'class': ''}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form._password, null, {
            'label': 'Password:'
        }) }}
        {{ form_widget(form._password, {'attr': {'class': ''}}) }}
    </div>

    <div class="form-group">

        {{ form_widget(form._remember_me, {'attr': {'class': ''}}) }}
        {{ form_label(form._remember_me, null, {
            'label': 'Remember Me'
        }) }}

    </div>

    {{ form_end(form) }}


    <div>
        <p>If you do not have an account <a href="{{ path('member_new') }}" id="register_link" name="register">register here.</a></p>
    </div>

{% endblock %}
