<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
            <!-- Added for styling -->
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
            <!-- Google Font -->
            <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        {% endblock %}
    </head>

    <body>

    <!-- Bootstrap defined navigation bar with links to all pages on the website. -->
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <!-- actual SSP logo will be placed here when styling is decided-->
                    <img src="http://placehold.it/150x50?text=Logo" alt="Saskatoon Summer Players Logo">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('show_index') }}">Our Shows</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('member_new') }}">Member Registration</a></li>
                <li class="nav-item"><a class="nav-link" href="/newsletter">News Letter</a></li>
                <li class="nav-item"><a id="volunteer" class="nav-link" href="{{ path('member_volunteer_new') }}">Volunteer</a></li>
                <li class="nav-item"><a id="aboutus" class="nav-link" href="/about">About Us</a></li>
                {% if is_granted("ROLE_BM") %}
                    <li class="nav-item"><a id="onlinePoll" class="nav-link" href="{{ path('online_poll_index') }}">Poll</a></li>
                {% else %}
                    <li class="nav-item"><a id="onlinePoll" class="nav-link" href="{{ path('online_poll_index') }}" hidden>Poll</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                {% if is_granted('ROLE_GM') %}
                    <li class="nav-item"><a id="edit_index" class="nav-link" href="{{ path('edit_index') }}">Edit Show Index</a></li>
                {% endif %}

                {% if  is_granted('ROLE_GM') %}
                    <li class="nav-item" ><a class="nav-link" id="SuggestShows" href="/admin/suggested/show">Suggested Shows</a></li>
                {% endif %}

            </ul>

            <!-- Check if the user is logged in and display the appropriate log in or log out button-->
            {% if app.user %}
                <a class="btn btn-light navbar-btn" id="logoutButton" name="logoutButton"
                   href="{{ path('logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a>
            {% else %}
                <a class="btn btn-light navbar-btn" id="loginButton" name="loginButton"
                   href="{{ path('login') }}">Login <i class="fas fa-sign-in-alt"></i></a>
            {% endif %}

            <!-- Donate button is tagged brighter to stand out since it is not a typical navigation item-->
            <a class="btn btn-danger navbar-btn" id="navDonateButton"
               href='https://www.canadahelps.org/en/dn/12346'>Donate Here!</a>
        </div>
    </nav>

    {% block body %}{% endblock %}
    {% block javascripts %}
        <!-- JQuery and Javascript -->
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
